<footer class="w-full bg-header-black p-4">
  <div class="flex justify-end text-zinc-300 font-mono">
    <p>©
      <%= Time.current.year %>
      Richard Gajda. All rights reserved.</p>
  </div>
</footer>
