<header class="sticky top-0 left-0 w-full p-4 z-50 mt-4">
  <nav aria-label="Primary">
    <ul class="flex space-x-12 justify-center">
      <li><a href="#home" class="text-zinc-300 font-mono"><span>Home</span></a></li>
      <li><a href="#about" class="text-zinc-300 font-mono"><span>About</span></a></li>
      <li><a href="#skills" class="text-zinc-300 font-mono"><span>Skills</span></a></li>
      <li><a href="#projects" class="text-zinc-300 font-mono"><span>Projects</span></a></li>
      <li><a href="#contact" class="text-zinc-300 font-mono"><span>Contact</span></a></li>
    </ul>
  </nav>
</header>
