<section id="contact" class="mt-16 flex flex-col mb-16">
  <p class="text-2xl sm:text-4xl text-zinc-300 font-mono mb-4">
    Contact
  </p>

  <div
    class="
      w-fit text-zinc-400 font-mono flex flex-wrap gap-x-4 gap-y-2 items-center
    "
  >
    <span>Montréal, Canada</span>
    <span>|</span>
    <a href="mailto:richardgajda11@gmail.com" class="underline hover:text-zinc-200">
      richardgajda11@gmail.com
    </a>
    <span>|</span>
    <a href="https://richardgajda.com" class="underline hover:text-zinc-200">
      richardgajda.com
    </a>
    <span>|</span>
    <a
      href="https://github.com/RichardG-PU"
      class="underline hover:text-zinc-200"
      target="_blank"
      rel="noopener noreferrer"
    >
      github.com/RichardG-PU
    </a>
  </div>
</section>
