<section id="projects" class="mt-16">
  <p class="text-2xl sm:text-4xl text-zinc-300 font-mono mb-4">
    Projects
  </p>

  <div class="text-zinc-400 font-mono space-y-2">
    <p>
      This section is under construction.
    </p>
    <p>
      I’m actively working on projects and will be adding them here soon.
    </p>
    <p class="text-zinc-500 text-sm">
      Check back later. Cool stuff is in the works :)
    </p>
  </div>
</section>
