<section id="home">
  <div class="flex flex-col">
    <div class=" flex flex-col z-10 p-4 w-10/12 content-center self-center">
      <div class="w-10/12">
        <div class="mt-28">
          <p class="text-4xl sm:text-8xl text-zinc-300 font-mono">
            Richard Gajda
          </p>
          <p class="text-zinc-400 font-mono">
            I make stuff
          </p>
        </div>

        <p class="mt-5 sm:mt-10 text-2xl text-zinc-300 font-mono">
          Computer science student @ UdeM
        </p>

        <p class="text-zinc-400 font-mono">
          I use this site as a way to present myself.
        </p>

        <%= render "pages/about" %>
        <%= render "pages/skills" %>
        <%= render "pages/projects" %>
        <%= render "pages/contact" %>
      </div>
    </div>
  </div>

</section>
