body {
  margin: 0;
  font-family:
    "JetBrainsMono Nerd Font Mono", "FiraCode Nerd Font Mono",
    "Hack Nerd Font Mono", monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
}
